
@{
    ViewData["Title"] = "Bacon";
    // Link to the BaconSale podcast
}
<h1>Listen to the BaconSale Podcast</h1>
<br /><br />
<div>
    <p>Listen to the <a href="https://baconsale.com/">#1 Movie Podcast</a>
    in West Layton!</p>
    
</div>

