@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
    //home page film collection view
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>heres a link <a href="https://docs.microsoft.com/aspnet/core">linksomething</a>.</p>
</div> <br /> <br />
<img src="~/img/JoelHiltonHeadshot.jpg" class="center" height="380"/>
